<div id="articles-by-year">
  <h3>Archives</h3>
  <ul>
    <% blog.articles.group_by {|a| a.date.year}.each do |year, articles| %>
      <li>
        <%= link_to "#{year}", blog_year_path(year) %>
      </li>
    <% end %>
  </ul>
</div>
