<meta charset="utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
<title><%= current_page.data.title || @title %> // Who Ever // Where Ever</title>
<%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
<link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700|Merriweather:400,300,300italic,900,900italic,700italic,700,400italic' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "application" %>
