---
title: Error
---
<div class="jumbotron">
  <h1><i class="fa fa-exclamation-circle"></i> Error</h1>
  <p>Something funky happened.  Sorry about that.<p>
  <p><a href="/" class="btn btn-primary btn-lg"><i class="fa fa-home"></i> My Home Page</a></p>
</div>
